body {
background-color: #121212;
color: #ffffff;
font-family: 'Segoe UI' , 'Segoe UI', Tahoma, Geneva , Verdana , sans-serif;
display: flex;
justify-content:  center ;
align-items: center; 
height: 100vh;
margin: 0;
overflow: hidden; /*منع التمرير غير الضروري */
}


.game-card {
    background-color: #1e1e1e;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5) ;
    text-align: center ;
    transition: all 0.3s ease ;
    width: 90% ; /*عرض مرن للموبايل*/
    max-width: 380px; /* حد اقصى عرض لابتوب*/

}
    /*new edit*/
.hidden {  
    display: none !important;
}


h1 { color: #00ff88 ;
    margin-bottom: 0.5rem;
    font-size: 2rem ;


}

.difficulty-menu {
    display: flex;
    flex-direction: column ;
    gap: 10px ;
    margin-top: 20px ;
}

.diff-btn {
background-color: #333 ;
color: #fff ;
border: 2px solid #00ff88 ;
padding: 10px ;
border-radius: 8px ;
font-weight: bold ;
cursor : pointer ;
transition: 0.3s ;
}


.diff-btn:hover {
     background-color: #00ff88   ;
    color: #121212 ;
    transform: scale(1.03) ; }


    diff-btn.expert {
border-color: #ffbb33 ;
    }

    diff-btn.expert:hover {
        background-color: #ffbb33 ;
        color : #121212 ;
    }
     
    diff-btn.legend {
        border-color: #ff4444 ;
    }

        diff-btn.legend:hover {
            background-color : #ff4444 ;
            color : #121212 ;
        }


input {
        width: 80%;
        padding: 12px;
        margin: 20px 0 ;
        border-radius: 8px;
        border: 2px solid transparent ;  /*border : none */
        background: #333 ;
        color: white ;
        font-size: 1.1rem;
        text-align: center;
        outline: none;
        transition: 0.3s ;
        }
/*تعديل جديد */
input :focus {
    border-color: #00ff88;
    background: #444
}




button {
    background-color: #00ff88 ;
    color: #121212 ;
    border: none ;
    padding: 12px 30px ;
    border-radius: 8px ;
    font-weight: bold; 
    cursor : pointer;
    transition : 0.3s; 
}

button:hover { background-color: #00cc6e;
    transform: scale(1.05); }
button:disabled {
    background-color: #555 ;
    cursor: not-allowed ;
}

.message { margin-top: 20px; font-weight:bold;
    height: 24px ; 
}
.stats { margin-top: 15px ;
    font-size: 0.9rem;
    color: #888; 
}

/* تدخل عسكري حمدوني خاص بالتجاوب resposive design */
/* for laptops first */
@media screen and (min-width: 768px) {
    .game-card {
        padding: 3rem ;
        border: 1px solid #333 ; /*حدود خفيفة لتبدو ارقى*/

    }

    h1 {
        font-size: 2.5rem ;
    }
}

/*for mobiles*/
 @media screen and (max-width: 480px) {
    .game-card{
        padding: 1.5rem ;
    }
    h1{
        font-size: 1.8rem ;
    }
    input, button {
        padding: 10px ;
    }
 }
 
















